@mixin flexbox() {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($values) {
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

html, body, #App { height: 100%; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #424242;
}

.qt-logo {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.29);
  padding: 16px 0 8px;
  img {
    width: 185px;
  }
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu {
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.31);
  height: 115px;
  @include flexbox();
  flex-flow: column;
  -webkit-flex-flow: column;
  align-items: center;
}

.colors-and-presets {
  @include flexbox();
  flex-flow: column;
  -webkit-flex-flow: column;
  align-items: center;
}

.colors, .settings {
  padding: 0 20px;
  margin: 0;
  width: 100%;
  list-style-type: none;
  @include flexbox();
  justify-content: center;
  .menu-color, .menu-preset {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  .menu-preset:first-of-type {
    border: 3px solid red;
  }
  label {
    display: block;
    font-size: 13px;
    margin-bottom: 8px;
    text-align: center;
  }
}
.settings {
  margin-top: 20px;
  li {
    flex: 1;
  }
  input {
    display: block;
    margin: auto;
  }
}
