@mixin flexbox() {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex($values) {
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

html, body, #App { height: 100%; }

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  color: #424242;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu {
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.31);
  height: 115px;
  @include flexbox();
  flex-flow: column;
  -webkit-flex-flow: column;
  align-items: center;
}

.colors-and-presets {
  @include flexbox();
  flex-flow: row;
  -webkit-flex-flow: row;
}

.colors, .presets, .settings {
  padding: 0 20px;
  margin: 0;
  list-style-type: none;
  @include flexbox();
  flex-flow: row;
  -webkit-flex-flow: row;
  align-items: center;
  .menu-color {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  label {
    display: block;
    font-size: 13px;
    margin-bottom: 8px;
    text-align: center;
  }
}
.settings {
  justify-content: flex-end;
  flex: 1 50%;
  width: 50%;
  li {
    flex: 1;
  }
  input {
    display: block;
    margin: auto;
  }
}
